;; Lots of testing using Clojure and REPL, but the final tool is Babashka

{:paths ["src"]
 :deps  {org.clojure/clojure        {:mvn/version "1.11.3"}
         ;; Keep sync'ed w/ bb.edn:
         org.clj-commons/pretty     {:mvn/version "3.0.0"}
         io.github.hlship/cli-tools {:mvn/version "0.12"}
         ;; Bundled Babashka dependencies:
         babashka/fs                {:mvn/version "0.5.21"}
         org.clojure/core.async     {:mvn/version "1.6.681"}}

 :aliases
 {:test {:extra-paths ["dev"
                       "dev-resources"]
         :extra-deps  {io.github.hlship/trace      {:mvn/version "1.3"}
                       io.github.tonsky/clj-reload {:mvn/version "0.7.1"}}}}}