;; bb --config release.edn
;; The bb.edn is for the dgt tool (shipped in the dialog-tool package),
;; this file contains things needed by dgt maintainers.
{:deps  {org.clj-commons/pretty {:mvn/version "3.6.7"}}
 :paths ["release"]
 :tasks
 {:requires ([clj-commons.ansi :refer [pout]]
             [clojure.string :as string]
             [babashka.fs :as fs]
             [dgt.release :as r :refer [sh]])
  package   (r/package "test")
  release   (let [tag (sh {:out :string} "git describe --tags --abbrev=0")
                  zip-file (r/package tag)
                  sha (r/sha256 zip-file)
                  create-opts (cond-> ["--verify-tag" "--generate-notes"]
                                (string/includes? tag "alpha")
                                (conj "--prerelease"))]
              (apply sh "gh release create" tag create-opts)
              (sh "gh release upload --clobber" tag zip-file)
              (println)
              (pout "Release URL: "
                [:bold
                 "https://github.com/hlship/dialog-tool/releases/tag/" tag])
              (pout "  Asset URL: "
                [:bold "https://github.com/hlship/dialog-tool/releases/download/"
                 tag "/" (fs/file-name zip-file)])
              (pout "     SHA256: " [:bold sha]))}}
