{:name   "{{project-name}}"
 :target :zblorb
 :build
 {:zblorb
  {:options ["--cover"     "cover.png"
             "--cover-alt" "{{project-name|capitalize}}"]}}
 :sources
 {:main    ["src"]
  :test    ["lib/test"]
  :debug   ["lib/dialog/debug"]
  :library ["lib/dialog"]}}
