{:name   "Kaleidoscope"
 :target :zblorb
 :build
 {:zblorb
  {:options ["--cover"     "cover.png"
             "--cover-alt" "Kaleidoscope"]}}
 :sources
 {:main    ["src"]
  :debug   ["lib/dialog/debug"]
  :library ["lib/dialog"]}}
