{:global-flags #{"(player can see)"
                 "(sand-dancer is named)"},
 :object-flags {"($ is traded)"            ("#road-trips" "#last-day-of-high-school" "#your-shit-job"),
                "($ is noted useful)"      ("#duct-tape"
                                             "#canned-oranges"
                                             "#flashlight"
                                             "#gas-can"
                                             "#scent"
                                             "#blanket"
                                             "#strength"),
                "($ is visited)"           ("#crumbling-concrete" "#roof" "#storage-room" "#middle-of-nowhere"),
                "($ is off)"               ("#radio"),
                "($ is closed)"            ("#drawer"
                                             "#dust-covered-window"
                                             "#glove-compartment"
                                             "#photo"
                                             "#wallet"
                                             "#pickup-truck"
                                             "#pane-of-cracked-glass"
                                             "#gas-can"
                                             "#tiny-frosted-window"
                                             "#cage"),
                "($ has completed)"        ("#sand-dancers-offer" "#sand-dancers-arrival"),
                "($ has traded)"           ("#sand-dancer"),
                "($ has started)"          ("#sand-dancers-offer" "#sand-dancers-arrival"),
                "($ is locked)"            ("#cage"),
                "($ is handled)"           ("#canned-oranges"
                                             "#flashlight"
                                             "#gas-can"
                                             "#scent"
                                             "#blanket"
                                             "#strength"
                                             "#emotional-baggage"
                                             "#wallet"
                                             "#lighter")},
 :global-vars  {"(current room $)"               "#crumbling-concrete",
                "(previous room $)"              "#crumbling-concrete",
                "(remaining cigarettes $)"       "6",
                "(them refers to $)"             "[#canned-oranges]",
                "(current visibility ceiling $)" "#crumbling-concrete",
                "(current player $)"             "#knock",
                "(turns in current room $)"      "1",
                "(last command was $)"           "[s]",
                "(reported score is $)"          "0",
                "(current actor $)"              "#knock",
                "(current score $)"              "0",
                "(discussable quips $)"          "[]"},
 :object-vars  {"($ has parent $)"             (["#strength" "#knock"]
                                                ["#flashlight" "#knock"]
                                                ["#pack" "#glove-compartment"]
                                                ["#scent" "#knock"]
                                                ["#emergency-lights" "#storage-room"]
                                                ["#rabbit" "#burrow"]
                                                ["#radio" "#break-room"]
                                                ["#lizards" "#roof"]
                                                ["#sand-dancer" "#roof"]
                                                ["#spirit" "#knock"]
                                                ["#freedom" "#roof"]
                                                ["#knock" "#crumbling-concrete"]
                                                ["#emotional-baggage" "#knock"]
                                                ["#cigarette" "#coyote"]
                                                ["#denim-jacket" "#coyote"]
                                                ["#sunglasses" "#coyote"]
                                                ["#withered-cactus" "#backtracking"]
                                                ["#rusty-can" "#base-of-tower"]
                                                ["#tumbleweed" "#base-of-tower"]
                                                ["#girder" "#base-of-tower"]
                                                ["#scrawny-weeds" "#base-of-tower"]
                                                ["#bits-of-trash" "#base-of-tower"]
                                                ["#red-warning-light" "#base-of-tower"]
                                                ["#electrical-tower" "#base-of-tower"]
                                                ["#cage" "#break-room"]
                                                ["#tiny-frosted-window" "#break-room"]
                                                ["#tables" "#break-room"]
                                                ["#crumbling-trash" "#break-room"]
                                                ["#rusted-key" "#foremans-desk"]
                                                ["#blanket" "#knock"]
                                                ["#dial" "#radio"]
                                                ["#roots" "#burrow"]
                                                ["#can-opener" "#control-center"]
                                                ["#piles-of-trash" "#control-center"]
                                                ["#smell-of-gasoline" "#control-center"]
                                                ["#metal-sheet" "#control-center"]
                                                ["#gas-can" "#knock"]
                                                ["#pane-of-cracked-glass" "#crumbling-concrete"]
                                                ["#boarded-up-door" "#crumbling-concrete"]
                                                ["#pickup-truck" "#middle-of-nowhere"]
                                                ["#canned-oranges" "#knock"]
                                                ["#lighter" "#knock"]
                                                ["#wallet" "#knock"]
                                                ["#jacket" "#knock"]
                                                ["#license" "#wallet"]
                                                ["#receipt" "#wallet"]
                                                ["#photo" "#wallet"]
                                                ["#ultrasound" "#photo"]
                                                ["#headlights" "#pickup-truck"]
                                                ["#grandmas-stories" "#emotional-baggage"]
                                                ["#jade" "#pickup-truck"]
                                                ["#meeting-ocean" "#emotional-baggage"]
                                                ["#watching-family-guy" "#emotional-baggage"]
                                                ["#lizard" "#middle-of-nowhere"]
                                                ["#whiffs-of-gasoline" "#middle-of-nowhere"]
                                                ["#saguaro" "#middle-of-nowhere"]
                                                ["#glove-compartment" "#pickup-truck"]
                                                ["#layers-of-sand" "#storage-room"]
                                                ["#foremans-desk" "#office"]
                                                ["#dust-covered-window" "#office"]
                                                ["#poster" "#office"]
                                                ["#hole" "#staging-area"]
                                                ["#shafts-of-light" "#staging-area"]
                                                ["#holes-in-roof" "#staging-area"]
                                                ["#patches-of-mold" "#staging-area"]
                                                ["#metal-desk" "#staging-area"]
                                                ["#drawer" "#metal-desk"]
                                                ["#cobwebs" "#hole"]
                                                ["#shelves" "#storage-room"]
                                                ["#ladder" "#storage-room"]
                                                ["#skylight" "#storage-room"]
                                                ["#panel" "#storage-room"]
                                                ["#cans-of-food" "#shelves"]
                                                ["#desert-sand" "#crumbling-concrete"]
                                                ["#sagebrush" "#crumbling-concrete"]
                                                ["#tower" "#crumbling-concrete"]
                                                ["#tire-tracks" "#middle-of-nowhere"]
                                                ["#overturned-barrel" "#weed-strewn-rust"]
                                                ["#newspapers" "#weed-strewn-rust"]
                                                ["#leaking-pipe" "#weed-strewn-rust"]
                                                ["#rusted-barrels" "#weed-strewn-rust"]
                                                ["#weeds" "#weed-strewn-rust"]
                                                ["#guidebook" "#overturned-barrel"]),
                "($ has relation $)"           (["#strength" "#heldby"]
                                                ["#flashlight" "#heldby"]
                                                ["#pack" "#in"]
                                                ["#scent" "#heldby"]
                                                ["#emergency-lights" "#in"]
                                                ["#rabbit" "#in"]
                                                ["#radio" "#in"]
                                                ["#lizards" "#in"]
                                                ["#sand-dancer" "#in"]
                                                ["#rungs" "#in"]
                                                ["#huge-barrel" "#in"]
                                                ["#spirit" "#heldby"]
                                                ["#freedom" "#in"]
                                                ["#knock" "#in"]
                                                ["#emotional-baggage" "#heldby"]
                                                ["#cigarette" "#heldby"]
                                                ["#denim-jacket" "#wornby"]
                                                ["#sunglasses" "#wornby"]
                                                ["#withered-cactus" "#in"]
                                                ["#rusty-can" "#in"]
                                                ["#tumbleweed" "#in"]
                                                ["#girder" "#in"]
                                                ["#scrawny-weeds" "#in"]
                                                ["#bits-of-trash" "#in"]
                                                ["#red-warning-light" "#in"]
                                                ["#electrical-tower" "#in"]
                                                ["#cage" "#in"]
                                                ["#tiny-frosted-window" "#in"]
                                                ["#tables" "#in"]
                                                ["#crumbling-trash" "#in"]
                                                ["#rusted-key" "#on"]
                                                ["#blanket" "#heldby"]
                                                ["#dial" "#partof"]
                                                ["#roots" "#in"]
                                                ["#can-opener" "#in"]
                                                ["#piles-of-trash" "#in"]
                                                ["#smell-of-gasoline" "#in"]
                                                ["#metal-sheet" "#in"]
                                                ["#gas-can" "#heldby"]
                                                ["#pane-of-cracked-glass" "#in"]
                                                ["#boarded-up-door" "#in"]
                                                ["#pickup-truck" "#in"]
                                                ["#duct-tape" "#in"]
                                                ["#canned-oranges" "#heldby"]
                                                ["#lighter" "#heldby"]
                                                ["#wallet" "#heldby"]
                                                ["#jacket" "#wornby"]
                                                ["#license" "#in"]
                                                ["#receipt" "#in"]
                                                ["#photo" "#in"]
                                                ["#ultrasound" "#in"]
                                                ["#headlights" "#partof"]
                                                ["#last-day-of-high-school" "#in"]
                                                ["#your-shit-job" "#in"]
                                                ["#grandmas-stories" "#in"]
                                                ["#jade" "#in"]
                                                ["#meeting-ocean" "#in"]
                                                ["#road-trips" "#in"]
                                                ["#watching-family-guy" "#in"]
                                                ["#lizard" "#in"]
                                                ["#whiffs-of-gasoline" "#in"]
                                                ["#saguaro" "#in"]
                                                ["#glove-compartment" "#partof"]
                                                ["#layers-of-sand" "#in"]
                                                ["#foremans-desk" "#in"]
                                                ["#dust-covered-window" "#in"]
                                                ["#poster" "#in"]
                                                ["#hole" "#in"]
                                                ["#shafts-of-light" "#in"]
                                                ["#holes-in-roof" "#in"]
                                                ["#patches-of-mold" "#in"]
                                                ["#metal-desk" "#in"]
                                                ["#drawer" "#partof"]
                                                ["#cobwebs" "#in"]
                                                ["#shelves" "#in"]
                                                ["#ladder" "#in"]
                                                ["#skylight" "#in"]
                                                ["#panel" "#in"]
                                                ["#cans-of-food" "#on"]
                                                ["#desert-sand" "#in"]
                                                ["#sagebrush" "#in"]
                                                ["#tower" "#in"]
                                                ["#tire-tracks" "#in"]
                                                ["#overturned-barrel" "#in"]
                                                ["#newspapers" "#in"]
                                                ["#leaking-pipe" "#in"]
                                                ["#rusted-barrels" "#in"]
                                                ["#weeds" "#in"]
                                                ["#guidebook" "#on"]),
                "($ number of trades $)"       (["#sand-dancer" "3"]),
                "($ is recollected by $)"      (["#final-choice" "[#sand-dancer]"]
                                                ["#greet-sd" "[#sand-dancer #knock]"]
                                                ["#about-sand-dancer" "[#sand-dancer #knock]"]
                                                ["#path-selection" "[#sand-dancer #knock]"]
                                                ["#start-sd-trade" "[#sand-dancer]"]
                                                ["#final-not-sure" "[#sand-dancer #knock]"]
                                                ["#about-spirit" "[#sand-dancer #knock]"]
                                                ["#about-freedom" "[#sand-dancer #knock]"]),
                "($ has conversation queue $)" (["#sand-dancer" "[]"])}}
